/**
 * Styling for the jQuery UI dialog used by Post Snippets 
 *
 * @version 2.0
 * @since 1.0
 */
#snippets-tabs .ui-tabs-nav {
	display: none;
}
nav#snippet-selector {
	display: block;
	padding: 1em 1.4em 0.6em;
	background-color: #efefef;
	border-bottom: 1px solid #CCC;
}
#snippets-dialog #snippet-select {
	margin: -1.6em 0 0 1em;
}
#snippets-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}
#snippets-tabs .ui-tabs-hide {
	display: none !important;
}
#snippets-dialog label {
	width: 100%;
	display: inline-block;
	margin: 4px 0;
}
#snippets-dialog .snippet-tab input,
#snippets-dialog .snippet-tab textarea,
#snippets-dialog .snippet-tab select {
	float: right;
	width: 80%;
	margin-top: -3px;
}
#snippets-dialog .select-wrap {
	float: left;
	width:  100%;
	clear: both;
	margin: 5px 0;
}
#snippets-dialog .snippet-tab label.select {
	float: left;
	width: auto;
}
#snippets-dialog label.snippet-content {
	vertical-align: top;
}

/* Add Snippet Page */

#snippet-variables label {
	display: inline-block;
	margin-bottom: 6px;
}
#snippet-variables input {
	width: 62%;
	margin-top: -2px;
	float: right;
}