/**
 * Styling for the jQuery UI dialog used by Post Snippets 
 *
 * @version 2.0
 * @since 1.0
 */
#post-snippets-tabs {
	/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	position: relative;
	padding: .2em;
	zoom: 1; 
}
#post-snippets-tabs .ui-tabs-nav {
	list-style: none;
	margin: 1em 0 0;
	padding: 0;
	line-height: 24px;
	position: relative;
}

#post-snippets-tabs .ui-tabs-nav li {
	margin: 0 0 0 8px;
	padding: 0 8px;
	border: 1px solid #AAA;
	background: #ECECEC;
	display: inline-block;
	position: relative;
	z-index: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#post-snippets-tabs .ui-tabs-nav li.ui-tabs-selected {
	background: #FFF;
	color: #000;
	z-index: 2;
	border-bottom-color: #FFF;
}
#post-snippets-tabs .ui-tabs-nav:before {
	position: absolute;
	content: "";
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #AAA;
	z-index: 1;
}

#post-snippets-tabs .ui-tabs-nav li:before,
#post-snippets-tabs .ui-tabs-nav li:after {
	position: absolute;
	bottom: -1px;
	width: 4px;
	height: 4px;
	content: " ";
}
#post-snippets-tabs .ui-tabs-nav li:after, 
#post-snippets-tabs .ui-tabs-nav li:before {
    border: 1px solid #AAA;
}
#post-snippets-tabs .ui-tabs-nav li:before {
	left: -5px;
	border-bottom-right-radius: 6px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 #ECECEC;
}
#post-snippets-tabs .ui-tabs-nav li:after {
	right: -5px;
	border-bottom-left-radius: 6px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 #ECECEC;
}
#post-snippets-tabs .ui-tabs-nav li.ui-tabs-selected:before {
    box-shadow: 2px 2px 0 #FFF;
}
#post-snippets-tabs .ui-tabs-nav li.ui-tabs-selected:after {
    box-shadow: -2px 2px 0 #FFF;
}

#post-snippets-tabs .ui-tabs-nav li a {
	text-decoration: none;
}

#post-snippets-tabs .ui-tabs-nav li.ui-tabs-selected a,
#post-snippets-tabs .ui-tabs-nav li.ui-state-disabled a,
#post-snippets-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: pointer;
}
#post-snippets-tabs .ui-tabs-nav li a,
#post-snippets-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
	cursor: pointer;
}

#post-snippets-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}
#post-snippets-tabs .ui-tabs-hide {
	display: none !important;
}
#post-snippets-dialog label {
	width: 60px;
	display: inline-block;
}
